*.aux
*.log
*.fls
*.idx
*.ind
*.ilg
*.bbl
*.blg
*.dvi
test/graphics/graphics.pdf
test/graphics_comment/graphics_comment.pdf
test/bibtex/bibtex.pdf
test/bibtex/bibtex_1.pdf
test/bibtex/bibtex_2.pdf
test/bibtex/bibtex_3.pdf
test/bibtex/bibtex_4.pdf
test/bibtex/bibtex_5.pdf
test/graphics_eps/graphics_eps.pdf
test/graphics_eps/graphics_eps_1.pdf
test/graphics_eps/graphics_eps_2.pdf
test/graphics_pdf/graphics_pdf.pdf
test/graphics_pdf/graphics_pdf_1.pdf
test/graphics_pdf/graphics_pdf_2.pdf
test/hyperref/hyperref.pdf
test/hyperref/hyperref.tex.6th.patch
test/hyperref/hyperref_1.pdf
test/hyperref/hyperref_2.pdf
test/makeindex/makeindex.pdf
test/makeindex/makeindex_1.pdf
test/makeindex/makeindex_2.pdf
test/makeindex/makeindex_3.pdf
test/otsuberuto_zo/otsuberuto_zo.pdf
test/otsuberuto_zo_s/otsuberuto_zo.pdf
test/sample/sample.pdf
test/sanposhojo/q1.pdf
test/sanposhojo/q1_0.eps
test/sanposhojo/q1_0.pdf
test/sanposhojo/q1_1.eps
test/sanposhojo/q1_1.pdf
test/sanposhojo/q1_2.eps
test/sanposhojo/q1_2.pdf
test/sanposhojo/q1_ans.pdf
test/simple/simple.pdf
test/simple/simple_1.pdf
test/simple/simple_2.pdf
test/toc/toc.pdf
test/toc/toc.tex.6th.patch
test/toc/toc_1.pdf
test/toc/toc_2.pdf
test/toc_hyperref/toc_hyperref.pdf
test/toc_hyperref/toc_hyperref.tex.6th.patch
test/toc_hyperref/toc_hyperref_1.pdf
test/toc_hyperref/toc_hyperref_2.pdf
